.fade-in1 {
    animation: fadeIn  0.8s;
    -webkit-animation: fadeIn  0.8s;
    -moz-animation: fadeIn  0.8s;
    -o-animation: fadeIn  0.8s;
    -ms-animation: fadeIn  0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.fade-in2 {
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
    opacity: 0;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
.fade-in3 {
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
    opacity: 0;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}